p {
  font-family: "Latin Modern Roman";
  font-family: "arial", "serif";
  font-style: oblique;
  font-display: fallback;
  font-size: 10pt
}
h1 {/*aqui le ponemos un color a los h1*/
  color: brown;
  <span style="text-decoration:line-through;">
    /*Este texto aparecerá tachado*/
   font-size: 12pt 
   font-family: "Roboto Condensed", "serif";
  font-style: italic;
  font-display: fallback;
</span>+
}
