p {
  font-family: "Latin Modern Roman";
  font-family: "arial", "serif";
  font-style: oblique;
  font-display: fallback;
  font-size: 10pt
}

h1 {/*aqui le ponemos un color a los h1*/
  color: brown;
  <span style="text-decoration:line-through;">
    /*Este texto aparecerá tachado*/
   font-size: 12pt 
   font-family: "Roboto Condensed", "serif";
  font-style: italic;
  font-display: fallback;
</span>+
  text-align: center; 
}

h2 {/*aqui le añadimos un color a los h2*/
  color: brown;
  font-family: "Latin Modern Roman", "serif";
  font-style: italic;
}

body {/*con esto le ponemos color al fondo*/
  background-color: lightsalmon;
   font-display: fallback;
   letter-spacing: normalS
}
