/* Creamos un UL, con width automático , con list-style-type: none, 
para que no aparezca la lista con puntos, y con color de fondo marrón */
ul {
  list-style-type: none;
  margin: auto;
  padding: 2%;
  width: auto;
  background-color: #9b4922;
}
/* Creamos un elemento li, con un 2% de padding para que sea más grande cada botón del menú, 
y alineación del texto centrada para que esté en el centro*/
li {
  padding: 3%;
}
/*Definimos un color blanco para las letras de los enlaces de la lista, 
y text-decoration:none para que no aparezcan los enlaces subrayados*/
li a {
  color: white;
  text-decoration: none;
}

.fondo-nav{
  background-color: #9b4922;
}




nav {
  width: auto;
  position: relative;
  text-align: center;
}

/*Cuando el tamaño de pantalla es mayor a 600px 
(es decir, en escritorio, cambio el diseño a que se muestre la lista en lugar de en vertical, 
en horizontal, utilizando display:inline que indica que en lugar de mostrar la lista en horizontal, se muestra en vertical)*/
@media screen and (min-width: 600px) {
  li {
    display: inline;
  }
}

/* LOGO */

.logo {
  width: auto;
  background: #9b4922;
  text-align: center;
}
/* selected link */

a:active {
  color: black;
}


/* IMAGENES DEL MENU */

.menu-img{
  width: 25%;
  margin: 2%;
  
}
.fondo-gradient-1{
  background-image: linear-gradient(#9b4922,#722705);
  color: white;

}
.fondo-gradient-2{
  background-image: linear-gradient(#722705,#9b4922);
  color: white;
}
.content-img{
  padding-bottom: 2%;
  border-bottom: 1px white solid;
}
.title{
  font-size: 1.5em;
  font-weight: bold;
}
.menu-title{
  background-color: #a8a7a7;
  padding: 1%;
  border: 3px black solid;
}
.nav-item{
  height: 5%;
  padding: 5%;
  padding-bottom: 2%;
  margin-bottom: 30px;
  transition: all 0.4s;
}
.nav-item:hover{
  transform: translatey(-15%);
  padding-bottom: 5%;
}
.nav-item:hover a{
  color: white;
}



